agent-framework-core==1.8.1
agent-framework-foundry==1.8.1
agent-framework-foundry-hosting
azure-identity
httpx
python-dotenv
azure-monitor-opentelemetry
opentelemetry-instrumentation-httpx
aiohttp
mcp
